<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />
  <title> Rashad Thanks You</title>
</head>

<body>
    <style>
        body  {
          background-image: url("paper.gif");
          background-color: #2e5d8a;
        }
        </style>
  <div class="jumbotron bg-alert-light">
    <h1 class="title"> Thank you very much
      <%= contact.firstName %>
        <%= contact.lastName %>!
    </h1>
  </div>
  <br />
  <br />
  <a href="/" class="btn btn-outline-light">Return to Portfolio</a>
</body>

</html>


